<div id="<%= dom_id store %>">
  <p>
    <strong>Store name:</strong>
    <%= store.store_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= store.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= store.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= store.phone_number %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= store.mail %>
  </p>

</div>
